<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

        <!-- The only thing you have to edit here is the first sentence. Replace the years of experience and industry type with your own info. -->
        <p>I am a dedicated career-changer transitioning into the world of Cybersecurity I’m currently working towards the Google Cybersecurity Professional Certificate, where I’m developing key technical competencies in troubleshooting, network administration, and system security. Through this program, I’ve gained practical knowledge in diagnosing hardware and software issues, managing user permissions, and understanding key cybersecurity principles such as encryption and risk management. These foundational skills are allowing me to build a deeper understanding of IT infrastructure, which I’m eager to apply in a cybersecurity role.
In addition to my technical training, I bring a strong set of transferable skills from my career history that will help me thrive in a cybersecurity position. For instance, as a Server, I developed excellent communication and multitasking skills while working in a fast-paced environment, constantly interacting with customers and addressing their needs promptly. This role taught me to remain calm under pressure, think on my feet, and ensure customer satisfaction—skills that are directly applicable to working in cybersecurity, where troubleshooting issues quickly and effectively is key.
In my role as an Iron Worker, I gained a strong sense of safety and attention to detail while working in a high-risk environment. I learned to assess potential hazards, take proactive measures to mitigate risks, and stay focused on precision. These skills are directly relevant to cybersecurity, where identifying and addressing vulnerabilities early can prevent security breaches and other issues.
Overall, I bring a blend of technical skills from my IT training and valuable experience in communication, risk assessment, and problem-solving. I am excited about the opportunity to contribute to your company’s cybersecurity efforts, and I’m confident that my background will allow me to bring a fresh perspective and dedication to your team.
 I recently completed my training with Merit America, which involved 5 months of intensive professional development, completion of the Google Cybersecurity Professional Certificate, and several hands-on technical projects.</p>
        
        <!-- This skills section already matches your resume, so no need to edit these unless you have more to add. Remember, these should be your TOP skills, not every skill! -->
        <h3>Skills & Expertise</h3>
          <p><strong>Languages:</strong> Python, SQL (BigQuery, MySQL)<br>
              <strong>Tools:</strong> Linux, Windows, SIEM (Splunk), Network Protocol Analyzers (WireShark, Tcpdump, Nmap), IDS/IPS (Suricata)<br>
              <strong>Security Practices:</strong> Information Security, Network Security (NDR), Vulnerability Assessment, Threat Analysis (IDS/IPS), Log Analysis, Security Frameworks and Controls (NIST)<br>
              <strong>Software Platforms:</strong> Google Workspace, Microsoft Suite, Slack, ChatGPT<br>
              <strong>Strengths:</strong> Problem-Solving, Collaboration, Attention to Detail, Calmness Under Pressure <br></p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">

        <!-- Replace the Rick Roll below with a link to your resume. Ideally this would be a pdf version, or a 'view only' version of your resume. -->
        <a href="https://www.youtube.com/watch?v=2qBlE2-WL60" class="btn btn-lg btn-outline resume-button">
          View Resume
        
        </a>
      </div>
    </div>
  </div>
</section>
